@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-line{
    border: 0;
    width: 100%;
    height: 10px;
    background: #000000;
}

header{
    width: 100%;
    background-color: #ffffff;
    padding: 0;
    height: 82px;
    display: flex;
}

.header-divs{
    flex: 1;
    /* background-color: pink; */
    /* border: solid 1px black; */
}

body{
    
}

.content-divs{
    width: 100%;
    height: 800px;
    /* background-color: pink; */
    /* border: solid 1px black; */
    display: flex;
    opacity: 0.9;
    /* background-color: brown; */
    flex-direction: row;
}

.fa-solid fa-bars{
    width: 100px;
    height: 100px;
}

#my-title-name{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: #000000;
    text-align: center;
    padding-top: 20px;
}

.first-content-div{
    flex: 1;
    /* background-color: pink; */
    /* border: solid 1px black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    padding: 70px;
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
}

#slogan-div{
    /* background-color: aquamarine; */
    width: 100%;
}

#sub-slogan-div{
    /* background-color: aquamarine; */
    width: 100%;
}


.first-content-div h1{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 39px;
    font-weight: 300;
    color: #000000;
    text-align: left;
    /* min */
    padding-top: 190px;
    animation: fadeIn1 2s;
}

@keyframes fadeIn1 {
    0% {
        opacity: 0;
    }
    9%{
        opacity: 0.28;
    }
    18%{
        opacity: 0.35;
    }
    25% {
        opacity: 0.5;
    }
    70% {
        opacity: .8;
    }
    100% {
        opacity: 1;
    }
}

.first-content-div h3{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #000000;
    text-align: left;
    padding-top: 60px;
    width: 100%;
    /* background-color: blue; */
    animation: fadeIn2 3s;
}


@keyframes fadeIn2 {
    0% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#my-links-div{
    /* background-color: aquamarine; */
    height: 70px;
    padding-top: 200px;
    margin-right: 160px;
    display: flex;
    flex-direction: row;
    animation: fadeIn3 6s;
}

@keyframes fadeIn3 {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.links-icons-and-text{
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.links-icons-and-text p{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #000000;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

.links-icons-and-text img{
    width: 37px;
    height: 37px;
}

@media (max-width: 700px) {

    header{
        height: 10%;
        border-bottom: 1px solid black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header h1{
        font-family: 'Space Grotesk', sans-serif;
        font-size: 30px;
        font-weight: 300;
        color: #000000;
        text-align: center;
        padding-bottom: 15px;
    }

    #my-links-div{
        height: 70px;
        margin-right: 0;
        padding-top: 160px;
        display: flex;
        flex-direction: row;
    }

    .links-icons-and-text p{
        font-family: 'Space Grotesk', sans-serif;
        font-size: 15px;
        font-weight: 300;
        color: #000000;
        text-align: left;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .links-icons-and-text img{
        width: 25px;
        height: 25px;
    }

    .first-content-div{
        /* width: 100%; */
        flex:1;
        padding: 0;
        /* background-color: blueviolet; */
        min-width: 100%;
        justify-content: center;
        height: 90%;
    }

    #slogan-div{
        /* background-color: aquamarine; */
        padding-left: 10%;
        padding-right: 20%;
        width: (70%);
        /* width: 100%; */
    }

    #sub-slogan-div{
        padding-left: 10%;
        padding-right: 20%;
        width: (70%);
    }

    .first-content-div h1{
        font-family: 'Space Grotesk', sans-serif;
        font-size: 30px;
        font-weight: 300;
        color: #000000;
        text-align: left;
        padding-top: 20px;
        padding-left: 20px;
        width: 100%;
        /* background-color: black; */
        min-width: 100%;
        text-align: left;
        /* background-color: aquamarine; */

    }

    .first-content-div h3{
        font-family: 'Space Grotesk', sans-serif;
        font-size: 20px;
        font-weight: 300;
        color: #000000;
        text-align: left;
        padding-top: 20px;
        padding-left: 20px;
        /* background-color: blue; */
        min-width: 100%;
        text-align: left;
        /* background-color: aquamarine; */
    }

    
}